<div class="device-profile">
  <div class="row">
    <div class="col-xs-4">
      <img ng-src="{{selectedDevice.profileURL}}" style="max-width:100%" ng-show="selectedDevice.profileURL"
           alt="Profilbild">
    </div>
    <div class="col-xs-8">
      <div style="position:relative"><h3 class="patient-info" ng-model="selectedDevice.name"
                                         contenteditable="true"></h3> <i
        class="editable-icon glyphicon glyphicon-edit"></i></div>
      <div style="position:relative"><p class="patient-info text-muted" ng-show="selectedDevice.id"><i
        class="glyphicon glyphicon-tag"></i> <span ng-model="selectedDevice.id" contenteditable></span> <i
        class="editable-icon glyphicon glyphicon-edit"></i></p></div>
      <div style="position:relative"><p class="patient-info text-muted" ng-show="selectedDevice.type"><i
        class="glyphicon glyphicon-bookmark"></i> <span ng-model="selectedDevice.type" contenteditable></span> <i
        class="editable-icon glyphicon glyphicon-edit"></i></p></div>
    </div>
  </div>
</div>
