<div class="modal-header">
  <h3 class="modal-title">Redigera koppling</h3>
</div>
<div class="modal-body text-center">
  <div ng-show="selectedDevice" class="row">
    <div class="col-sm-7">
      <div ng-include="'views/deviceprofile.html'"></div>
    </div>
    <div class="col-sm-5">
      <div class="broker-select-list">
        <div class="broker-select-list-search input-group input-group-sm">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" id="broker-query-input" class="form-control form-control-xs" ng-model="receiverQuery" placeholder="Sök på mottagare"/>
        </div>
        <div class="broker-select-list-result">
          <ul>
            <li ng-repeat="receiver in fullReceiverList | filter:{systemName: receiverQuery}">
              <div class="checkbox">
                <label><input type="checkbox"
                              ng-model="selectedReceivers[$index]">{{receiver.systemName}}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="remove()"><i class="glyphicon glyphicon-trash"></i> Ta bort koppling</button>
  <button class="btn btn-primary" ng-click="ok()"><i class="glyphicon glyphicon-ok"></i> OK</button>
  <button class="btn btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> Avbryt</button>
</div>
